{% extends "base.html.twig" %}

{% block header %}
    {{include('includes/header_with_logo.html.twig', {headerText: 'Welcome!'})}}
{% endblock %}


{% block content %}
    <div class="d-flex flex-column align-items-center">
        <!-- Content -->
        <div class="d-flex">
            <a href="{{ path('login') }}" role="button" class="btn btn-outline-success btn-lg me-3" >Log In</a>
            <a href="{{ path('register') }}" role="button" class="btn btn-outline-primary btn-lg">Sign Up</a>
            <a href="{{ path('reserveSpot') }}" role="button" class="btn btn-outline-primary btn-lg">Reserve</a>
        </div>

        <!-- End of Content -->
    </div>

{% endblock %}