{% extends "base.html.twig" %}


{% block header %}
    {{include('includes/header_with_logo.html.twig', {headerText: 'Reserve a parking spot'})}}
{% endblock %}

{% block content %}
    <div> 
        <h2>Hope it works!</h2>
    </div>
{% endblock %}
