{% extends 'base.html.twig' %}
{% block title %}Customer Portal{% endblock %}

{% block header %}
    {% include 'includes/header_with_logo.html.twig' %}
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column">
            <a href ="#" role="button" class="btn btn-secondary action-button">Make Reservation</a>
            <a href ="/logout" role="button" class="btn btn-danger btn-outline action-button">Log Out</a>
        </div>
    </div>


{% endblock %}
