<header class="container">
		<div class="d-flex flex-column align-items-center mb-4">
				<a href="{{ path('home') }}"> <img class="p-4" src="/images/logo.png" style="max-width:350px"> </a>
				{% if headerText %}
					<h1 class="mt-4 ">{{headerText}}</h1>
				{% endif %}
		</div>
</header>	